[submodule "Backend"]
	path = Backend
	url = https://github.com/BBDElectronicStore/Backend.git
	branch = main
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/BBDElectronicStore/Frontend.git
	branch = main
[submodule "Consumer"]
	path = Consumer
	url = https://github.com/BBDElectronicStore/Consumer.git
	branches = main
